.custom-bg {
    background: #607d8b!important;
}
.admin .card {
    border: 1px solid #666666
}
.admin .card:hover {
    background: #f0f0f0;
    cursor: pointer;
}
.list-group-item.active {
    background: #607d8b!important;
    border-color: #607d8b!important;
}

.product-card:hover {
    background: #f0f0f0;
    cursor: pointer;
}
#toast {
    min-width: 300px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -120px;
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 18px;
    visibility: hidden;
    box-shadow: 0px 0px 100px #000;
}

#toast.display {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;

}


@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
